<section class="container ">

  <h2 class="text-2xl text-center text-white">註冊</h2>
  <section class="py-8 my-10 text-center bg-white rounded-md">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="my-5">
        <%= f.label :email , '信箱'%><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email",class:"rounded-md" %>
      </div>

      <div class="my-5">
        <%= f.label :password , '密碼'%>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password",class:"rounded-md" %>
      </div>

      <div class="my-5">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password" ,class:"rounded-md"%>
      </div>

      <div class="my-3">
        <%= f.submit "註冊" ,class:"btn btn-disable"%>
      </div>
    <% end %>
    <div class="flex justify-center">
    
      <%= render "devise/shared/links" %>
    </div>
  
  </section>


</section>


