<section class="container ">
    <div class="mb-5 text-2xl text-center text-white">

        <h1>商店詳情</h1>

    </div>

    <div class="bg-white rounded-md">
        <div class="py-5 text-center">

            <h2 class="text-xl"><%= @store.title%></h2>
            <div class="flex justify-center">
                <p class="m-5">電話：<%= @store.tel%></p>
                <p class="m-5">地址：<%= @store.address%></p>
            </div>
        
        </div>
        <div>
            <h2 class="mb-5 text-lg font-bold text-center">評論</h2>
            <div class="pb-10 text-center">
            
                <%= form_with(model: @comment,id:'comment-form',id:'comment-form', url: store_comments_path(@store), data:{ controller: 'comment-form'} ) do |form| %>
                    <%= form.text_area :content,
                        class: 'w-1/2 rounded ',
                        rows: 3 ,
                        data:{
                            action: 'input->comment-form#input'
                        }%>
                    <%= form.submit "新增評論", class: 'block btn btn-primary w-1/4 m-auto mt-5'  ,disabled: true, data:{comment_form_target: 'button'}%>
                <% end %>
                <section class="mt-2" >
                    <%= render @comments %>
                </section>
            
            </div>

        </div>
    
    </div>

    <div class="mt-5 text-xl text-center text-white">
        <%= link_to '回上一頁' , stores_path%>
    </div>






</section>

